.fixed_page{
	width: auto; 
	margin: 0 auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 100px;
  }

h1{
	font-size: 40px; 
	color: #4c3228; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-size: 25px; 
	color: black; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

p{
	text-align: justify;
	color: black; 
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.symbol_map{
	max-width: 100%;
	height : auto;
}

.bubble_plot{
	width: auto;
	margin-bottom: 20px;
}

/* styles.css */
.container {
    display: flex; /* Use flexbox to create a row layout */
}

.column {
    flex: 1; /* Each column takes up equal space */
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* First section */
.grid-1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	width: 100%;
}

.column-1-text {
	padding-left: 10%;
	padding-right: 10%;
	grid-column: 1;
	grid-row: 2;
}

.column-2-text {
	width: 100%;
	grid-column: 2;
	grid-row: 2;
}