.fixed_page{
	width: auto; 
	margin: auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 100px;
  }

h1{
	font-size: 40px; 
	color: #4c3228; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-size: 25px; 
	color: black; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

p{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px; 
}

.symbol_map{
	width: 100%;
}

.bubble_plot{
	width: auto;
	margin-bottom: 20px;
}

/* styles.css */
.container {
    display: flex; /* Use flexbox to create a row layout */
}

.column {
    flex: 1; /* Each column takes up equal space */
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* First section */
.grid-1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50px auto;
}
.title-sub-div{
	display: grid;
	grid-template-columns: 48px auto;
	margin: 0px; 
}
.number{
	grid-column: 1;
	width: 40px;
}

.subtitle{
	grid-column: 2;
}

.column-1-title {
	grid-column: 1;
	grid-row: 1;
	padding-right: 30px;
}

.column-1-text {
	grid-column: 1;
	grid-row: 2;
	padding-right: 30px;
}
.column-2-title {
	grid-column: 2;
	grid-row: 1;
}
.column-2-text {
	grid-column: 2;
	grid-row: 2;
}